@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: url("../asset/Helvetica/Helvetica.ttf");
}
  
@font-face {
    font-family: "Helvetica Light";
    src: url("../asset/Helvetica/Helvetica-Light.ttf");
}

@layer base {
    html {
        @apply scroll-smooth;
    }
}