@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica";
    src: url("../fonts/Helvetica/Helvetica.ttf");
}
  
@font-face {
    font-family: "Helvetica Light";
    src: url("../fonts/Helvetica/Helvetica-Light.ttf");
}
